:root {
    --amarelo: #ffcb47;
    --branco: #FFF;
    --cinza: #909090;
    --preto: #202020;

    --familia-corpo: 'Montserrat', sans-serif;
    --tamanho-corpo: 1rem;
    --tamanho-titulo: 1.375rem;
    --tamanho-titulo-destaque: 2rem;
    --tamanho-destaques: 1.375rem;
    --peso-destaques: 700;
}